
		
				
			  <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
         	 <h2><%=school.school_name %></h2>
          	<p><%=school.school_description%></p>
          	<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
 
		
	

