
		
				
				<tr class = "sch">
					<td class = "name">
						<%=school.school_name %>
					</td>

					<td class = "address">
						<%= school.school_address %>
					</td>

					<td class="location">
						<%= school.location %>
					</td>
				</tr>
			
		
		
		
	

