@import "bootstrap-sprockets";
@import "bootstrap";


html {
	overflow-y:scroll;
}

body{
	padding-top:60px;
}
.sch{
	border : 15px;
	padding-bottom: 15em;
	padding-top:15em;
	
}



#logo{
	float:left;
	margin-right:10px;
	font-size:1.7em;
	color:#fff;
	text-transform:uppercase;
	letter-spacing:-1px;
	padding-top:9px;
	font-weight:bold;
	&:hover{
		color:#fff;
		text-decoration:none;
	}

}

.checkbox {
	margin-top: 5px;
	margin-bottom: 10px;
	span {
		margin-left: 20px;
		font-weight: normal;
	}
}
#session_remember_me {
	width: auto;
	margin-left: 0;
}

#error_explanation{
	color:red;
	ul{
		color:red;
		margin: 0 0 30px 0;
	}
}

.school_name{
	text-align:center;
	font-family:helvetica;
	color:#FF6060;
}


.description{
	position: absolute;
    right: 0px;
    width: 300px;
    border:1px solid black;
    padding: 10px;
    border-style:groove;
}

.picture-center{
	margin: auto;
    width: 40%;
    padding: 10px;
}

.no-picture-center{
	margin: auto;
    width: 70%;
    padding: 10px;
}